apprentice_name=À la recherche du maître
apprentice_description=Timothy vous a demandé de dire à son maître qu'il est rentré à l'atelier.
assassinquest_name=Murmures dans l'obscurité
assassinquest_description=La figure de l'ombre veut un poison puissant, que l'on peut trouver dans une grotte d'araignées à Aquarfall.
bakerson_name=Le fils du boulanger
bakerson_description=Vous avez dit au boulanger que vous trouverez son fils à l'Arche de la Forêt.
belphyorhorn_name=Corne de Belphyor
belphyorhorn_description=C'est la corne du démon supérieur Belphyor. Quelqu'un pourrait vouloir cet objet puissant.
belphyorquest_name=Vengeance des diablotins
belphyorquest_description=Belphyor, le démon supérieur, vous demande de convoquer les diablotins dans un endroit rempli de cultistes.
belphyorscroll_name=Parchemin de Belphyor
belphyorscroll_description=Belphyor vous a donné ce parchemin pour convoquer les diablotins.
bigfish_name=Gros poisson
bigfish_description=Vous avez attrapé ce poisson dans le lac de Senenthia. Il a l'air délicieux.
goblinquest_name=La demande du chef des gobelins
goblinquest_description=YVous avez accepté d'aider les gobelins et de tuer la bête qui les menace.
goldensheepquest_name=Le Mouton doré
goldensheepquest_description=Vous connaissez l'emplacement du légendaire mouton doré.
goldenwool_name=Laine dorée
goldenwool_description=La laine du légendaire mouton doré. Elle est très précieuse.
goldtrophy_name=Trophée en or
goldtrophy_description=Un trophée en or pour commémorer votre victoire dans l'arène de Velkarath.
grainsack_name=Sac de grains
grainsack_description=Un petit sac de grains produit dans les champs de Senenthia.
hammer_name=Marteau et clous
hammer_description=Un marteau et quelques clous pour des réparations rapides.
harpyegg_name=oeuf de harpie
harpyegg_description=Un oeuf de harpie, qui pourrait même éclore dans les bonnes conditions.
hugeruby_name=Énorme rubis
hugeruby_description=C'était l'œil d'une grande statue de serpent. Il est très précieux.
jeweledkey_name=Clé sertie d'un joyau
jeweledkey_description=Une petite clé avec un joyau que vous avez trouvé à l'intérieur d'une tombe.
keyaquarfall_name=Clé mystérieuse
keyaquarfall_description=Une clé mystérieuse qui ouvrirait le plus grand trésor jamais existé.
keynorth_name=Clé mystérieuse
keynorth_description=AUne clé mystérieuse avec un ruban blanc que vous avez trouvée dans les égouts gelés.
keyobelisk_name=Clé mystérieuse
keyobelisk_description=Une clé mystérieuse que vous avez trouvée.
keyvelkarath_name=Clé mystérieuse
keyvelkarath_description=Une clé mystérieuse avec un ruban noir que vous avez trouvée à l'intérieur de la Forge Noire.
largeemerald_name=Émeraude géante
largeemerald_description=Vous avez trouvé cette émeraude dans un compartiment secret. Elle est très précieuse.
lorequest_name=Savoir antique
lorequest_description=Un gnome vous a demandé de chercher des livres anciens pour l'aider à faire voler son invention.
magicsapphyre_name=Saphir magique
magicsapphyre_description=Un saphir magique épuisé. Malgré tout, il est encore très précieux.
magictorch_name=Torche magique
magictorch_description=Une torche magique que vous pouvez utiliser pour faire fondre la glace ou pour vous empêcher de geler.
merchantcard_name=Carte de marchand
merchantcard_description=Avec cette carte VIP de marchand, vous obtiendrez des réductions dans divers magasins.
minstrelquest_name=Un instrument stylé
minstrelquest_description=Gustav a besoin d'un nouveau luth, mais pas n'importe lequel ; celui qu'il veut se trouve dans une demeure elfique.
moonstone_name=Pierre de lune
moonstone_description=Une pierre brillante que vous avez volée à une dryade ancienne dans la forêt de Senenthia.
mosquitoegg_name=Oeuf de Moustique
mosquitoegg_description=Un oeuf de moustique, dans les bonnes conditions, pourrait même éclore.
naganotes_name=Notes de Naga
naganotes_description=Vous les avez trouvées dans le village de crocomen; elles expliquent comment décrypter les runes naga.
emerald_name=Émeraude
emerald_description=Une émeraude que vous avez trouvée dans la carrière.
gemstone_name=Pierre précieuse
gemstone_description=Une pierre précieuse commune extraite de la carrière.
map1_name=Ruines intéressantes
map1_description=Vous avez une carte qui mène à des ruines intéressantes quelque part dans les ruines supérieures.
map2_name=Ruines intéressantes
map2_description=Vous avez une carte qui mène à des ruines intéressantes quelque part dans les ruines supérieures.
map3_name=Ruines intéressantes
map3_description=Vous avez une carte qui mène à des ruines intéressantes quelque part dans les ruines supérieures.
mayonnaise_name=Étrange mayonnaise
mayonnaise_description=Un ingrédient spécial pour le concours de cuisine quelque part dans les ruines supérieures.
monsteregg_name=Oeuf de monstre
monsteregg_description=Un oeuf de monstre donné par une fille.
monsteregg2_name=uf de monstre
monsteregg2_description=Un ingrédient spécial pour le concours de cuisine quelque part dans les ruines supérieures.
monstertrainer_name=Livrer l'oeuf à Bash
monstertrainer_description=Une fille vous a demandé d'apporter cet oeuf à Bash, quelque part dans les ruines supérieures.
obsidian_name=Lingots d'obsidienne
obsidian_description=Vous avez fabriqué des lingots d'obsidienne dans la carrière.
ruby_name=Rubis
ruby_description=Un rubis que vous avez extrait de la carrière.
sackofgrain_name=Sac de grains
sackofgrain_description=Un ingrédient spécial pour le concours de cuisine quelque part dans les ruines supérieures.
smallmap_name=Carte spéciale
smallmap_description=C'est une carte qui mène à des ruines intéressantes quelque part dans les ruines supérieures.
smalltreasuremap_name=Carte au trésor
smalltreasuremap_description=C'est une carte au trésor qui mène quelque part dans les ruines supérieures.
thecook_name=Le concours de cuisine
thecook_description=YVous avez accepté d'aider un homme-rat à participer à un concours de cuisine quelque part dans les ruines supérieures.
thecourier_name=Livraison à domicile
thecourier_description=Livrez un colis pesant aux aventuriers quelque part dans les ruines supérieures.
treasuremapquest_name=Chasse au trésor
treasuremapquest_description=Vous avez une carte qui mène à un trésor caché quelque part dans les ruines supérieures.
obsidianingots_name=Lingots d'obsidienne
obsidianingots_description=Vous avez obtenu ces lingots dans un transport que vous avez intercepté à Velkarath.
oldjournal_name=Vieux journal
oldjournal_description=Vous l'avez trouvé dans une grotte. Peut-être que quelqu'un à l'Auberge de la Chouette Heureuse connaissait le propriétaire.
oldnotes_name=Vieilles notes
oldnotes_description=Vous les avez trouvées à l'intérieur du coffre dans le lac; l'une d'elles est un croquis d'un arbre.
oldrope_name=Vieille corde
oldrope_description=Une corde utile que vous avez utilisée pour aider à reconstruire une maison.
pigcaptured_name=Cochon capturé
pigcaptured_description=Vous avez attaché cet homme-cochon à la porte d'entrée du sous-sol.
piratecoin_name=Pièce de pirate
piratecoin_description=Une pièce gravée d'un crâne et d'os croisés; vous l'avez obtenue en sauvant quelqu'un des araignées.
priestquest_name=L'homme-porc effrayé
priestquest_description=Vous avez promis au prêtre que vous vous occuperez de Yogger au camp des bandits.
prophetquest_name=La recherche de Tsnemo
prophetquest_description=Retrouvez le navire marchand de Tsnemo et livrez le colis à Tsnemo.
pyromancerquest_name=Le mage errant
pyromancerquest_description=Vous avez dit au vieil homme que vous récupérerez son bâton de feu à la base principale des cultistes à Velkarath.
rabbitmeat_name=Viande de lapin
rabbitmeat_description=Un tas de viande de lapin que vous avez sauvé après avoir survécu à la Horde Blanche.
rime_name=Le conte du vieux loup de mer
rime_description=Un livre qui raconte les malheurs d'un vieux loup de mer qui tire sur un albatros.
rimeoftheancienti_name=Conte du vieux loup de mer I
rimeoftheancienti_description=Récupérez le livre du vieux loup de mer dans la cabane du pêcheur.
rimeoftheancientii_name=Conte du vieux loup de mer II
rimeoftheancientii_description=Livrez le conte du vieux loup de mer aux marins du port nordique.
sentinelquest_name=Le dernier sentinel
sentinelquest_description=Trouvez un moyen de réparer le golem. Vous pouvez trouver un nouveau noyau dans la Forge Noire à Velkarath.
sheeplost_name=Le mouton perdu
sheeplost_description=Vous rendrez Betty à son propriétaire près des terres agricoles de l'est.
slimebait_name=Appât gluant
slimebait_description=L'appât gluant fait maison que vous avez obtenu des hommes lézards.
smalllog_name=Petit rondin
smalllog_description=Un petit rondin de bois; il a une teinte foncée et dégage un peu de chaleur.
treasurehunt_name=Chasse au trésor
treasurehunt_description=Maintenant, vous connaissez l'emplacement de l'arbre où le trésor est caché.
treasurehuntii_name=Chasse au trésor II
treasurehuntii_description=La carte mène au trésor, mais seulement si vous vous souvenez de l'endroit indiqué sur la carte.
treasuremap_name=Carte au trésor
treasuremap_description=C'est une carte au trésor, mais l'image a magiquement disparu.
tsnemogem_name=Gemme violette
tsnemogem_description=Une gemme que Tsnemo vous a donnée à utiliser dans les ruines supérieures.
wardenquest_name=Sauver les treants
wardenquest_description=Bree vous a confié une graine d'Ylmer à planter dans un endroit approprié.
ylmerseed_name=Graine d'Ylmer
ylmerseed_description=Une des rares graines d'Ylmer restantes.